<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>create</ion-title>
    <ion-menu-toggle>
      <ion-button>MENU</ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <ion-list>
      <ion-item>
        <ion-input formControlName="product" label="Producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="description" label="Descripción"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-button [disabled]="form.invalid" (click)="createProduct()">CREAR</ion-button>
</ion-content>
