<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>delete</ion-title>
    <ion-menu-toggle>
      <ion-button>MENU</ion-button>
    </ion-menu-toggle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">delete</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="getProducts()">OBTENER PRODUCTOS</ion-button>

  <ion-list>
    <ion-item *ngFor="let product of productList">
      <ion-label>{{ product.name }}</ion-label>
      <ion-button (click)="deleteProduct(product.id)">BORRAR</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
